#We have various stores in the market and in each of the store we have Sales, promotions, coupons, etc. Promotions are of 3 types 1-refer to High, 2-refers to Medium, and 3-refers to Low. Similarly, Coupons also contain three categories 1,2 , and 3. You have to check whether there is any significant impact on sales with respect to Promotion, coupons and other Independent variables. Compute the result mathematically and find out the impact with the help of anova and ancova.

In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
os.getcwd()

'C:\\Users\\Dell'

In [3]:
os.chdir('D:\Python Programming\Data')

In [4]:
df = pd.read_csv('D:\Python Programming\Data\ANCOVA12.csv')

In [5]:
df

    Store Number  Sales  Promotion  Coupon  ClietelRatings
0              1   10.0          1       1               9
1              2    9.0          1       1              10
2              3   10.0          1       1               8
3              4    8.0          1       1               4
4              5    9.0          1       1               6
5              6    8.0          2       1               8
6              7    8.0          2       1               4
7              8    7.0          2       1              10
8              9    9.0          2       1               6
9             10    6.0          2       1               9
10            11    5.0          3       1               8
11            12    7.0          3       1               9
12            13    6.0          3       1               6
13            14    4.0          3       1              10
14            15    5.0          3       1               4
15            16    8.0          1       2              10
16            17    9.0          1       2               6
17            18    7.0          1       2               8
18            19    7.0          1       2               4
19            20    6.0          1       2               9
20            21    4.0          2       2               6
21            22    5.0          2       2               8
22            23    5.0          2       2              10
23            24    6.0          2       2               4
24            25    4.0          2       2               9
25            26    2.0          3       2               4
26            27    3.0          3       2               6
27            28    2.0          3       2              10
28            29    1.0          3       2               9
29            30    2.0          3       2               8

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
models = ols('Sales~C(Promotion)',df).fit() #promotion is a categorical variable
oneway = sm.stats.anova_lm(models,typ=2) #lm - linearmodel for anova and ancova FOR linear Regression we have type value=1, for anova and ancova we have type value =2
print(oneway)

                  sum_sq    df          F    PR(>F)
C(Promotion)  106.066667   2.0  17.943609  0.000011
Residual       79.800000  27.0        NaN       NaN

In [7]:
#for promotion there is significant impact on sales because F value is 17.94 which is greater than 3.04 
#along with promtion we add coupon also
#now we hve 2 independent variable
models = ols('Sales~C(Promotion) + C(Coupon)',df).fit()

In [8]:
twoway = sm.stats.anova_lm(models, typ=2)

In [9]:
twoway
#residuals are the error rate
#we can see with the help of table that both promotion and coupons have value 52, that means they have a significant impact on sales

                  sum_sq    df          F        PR(>F)
C(Promotion)  106.066667   2.0  52.098237  8.032739e-10
C(Coupon)      53.333333   1.0  52.392947  1.095036e-07
Residual       26.466667  26.0        NaN           NaN

In [10]:
#Condition for the use of  ancova
#we hve independent variable which is continous - clietelrating
#we hve IDVs(client rating) which is both continous + categorical
models = ols('Sales~C(Promotion) + C(Coupon) + ClietelRatings',df).fit()
ancova = sm.stats.anova_lm(models,typ=2)
ancova
#see clientrating have significant impact on sales because it having a value greater than 3.04, so we reject the null hypothesis
#hve impact

                    sum_sq    df          F        PR(>F)
C(Promotion)    106.066667   2.0  51.732296  1.301539e-09
C(Coupon)        53.333333   1.0  52.024936  1.471502e-07
ClietelRatings    0.837931   1.0   0.817375  3.745789e-01
Residual         25.628736  25.0        NaN           NaN

In [11]:
#now cal eta^2 - to see the impact on dependent variable with help of independent variable
def anova_table(oneway):
    oneway['eta_sq']=oneway[:-1]['sum_sq']/sum(oneway['sum_sq'])
    #( sumofsquare of all columns/sumofsquare)
    cols = ['sum_sq', 'df', 'F', 'PR(>F)', 'eta_sq']
    oneway = oneway[cols]
    return oneway

In [12]:
anova_table(oneway) #significance impact on the sALES

                  sum_sq    df          F    PR(>F)   eta_sq
C(Promotion)  106.066667   2.0  17.943609  0.000011  0.57066
Residual       79.800000  27.0        NaN       NaN      NaN

In [13]:
#57% promotion is affecting the sales
anova_table(ancova) #cLIENTRATING column which is (CONT + CATEGORICAL)

                    sum_sq    df          F        PR(>F)    eta_sq
C(Promotion)    106.066667   2.0  51.732296  1.301539e-09  0.570660
C(Coupon)        53.333333   1.0  52.024936  1.471502e-07  0.286944
ClietelRatings    0.837931   1.0   0.817375  3.745789e-01  0.004508
Residual         25.628736  25.0        NaN           NaN       NaN

In [14]:
#Clientrating PR(>)F value greater than 0.05 so there is no change in sales also eta^2 is 0.4%
#Promotion and coupons are those IDVs which hve a significant impact on Sales